<!DOCTYPE html>
<html>
<head>
  <title>Ironlibrary_byECT2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="maintitle">
  <h1>Iron Library</h1>
</div>

<div class="row menubar">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="menulinks">
      <%= link_to "Home", home_path %>
      <%= link_to "New Book", new_book_path %>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="menulinks">
      <%= link_to "Sign-in", home_path, class: "btn btn-default" %>
    </div>
  </div>
</div>


<%= yield %>

<footer>
  <div class="row menubar_bottom">
    <div class="col-xs-2 col-xs-offset-10">
      <div class="menulinks">
        <%= link_to "Sign-out ->", home_path %>
      </div>
    </div>
  </div>
</footer>

</body>



</html>
