<!DOCTYPE html>
<html>
<head>
  <title>Ironlibrary_byECT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="maintitle">
  <h1>Iron Library</h1>
</div>

<div class="row menubar">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="menulinks">
      <%= link_to "Home", home_path %>
      <%= link_to "New Book", new_book_path %>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="menulinks">
      <%= link_to "Sign-in", sign_in_path, class: "btn btn-default" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <% if notice %>
      <div class="alert alert-warning">  <%= notice %> 
    <% end %>
  </div>

</div>



<%= yield %>

<footer>
  <div class="row menubar_bottom">
    <div class="col-xs-2 col-xs-offset-10">
      <div class="menulinks">
        <%= link_to "Sign-out ->", sign_out_path, method: :delete  %>
      </div>
    </div>
  </div>
</footer>

</body>



</html>
