<!DOCTYPE html>
<html>
<head>
  <title>Ironlibrary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Iron Library</h1>

<p>
  <%= link_to "Home", home_path %>

  <%= link_to "New Book", new_book_path %>
</p>

<%= yield %>

</body>
</html>
